<!DOCTYPE html>
<html lang="ja">
  <head></head>

  <body>
    <h1>ようこそ<span class="title-1">Bookers</span>へ！</h1>

    <p><span class="title-2">Bookers</span>では、さまざまな書籍に関するあなたの意見や</P>

    <P>印象を共有し交換することができます</P>
    <p><%= link_to "start", "/books" %></p>



  </body>
</html>
